<h1>New Works</h1>
<form action="/users/" method="POST">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <input type="text" name="user[fname]" placeholder="First Name">
    <input type="text" name="user[lname]" placeholder="Last Name">
    <input type="submit">
</form>
