<h1> New works </h1>
<form action="/products/" method="POST">
<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <input type="text" name="product[name]" placeholder="name">
    <input type="number" name="product[price]" placeholder="price">
    <input type="submit" value="Create">
</form>